<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
</head>

	{{> header}}

<body>
	<br>
	<h1 style="color: grey">About</h1>
	<span>This is a website created for </span>
	<span style="color: red; font-size: 40px"> Final !!! </span>
	<span> and it's very buggy</span>
	<br>
	<br>
</body>

	{{> footer}}
<!--footer>
	<p>Copyright {{year}}</p>
</footer -->
</html>