<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
</head>

	{{> header}}

<body>
	<br>
	<h1 style="color: grey">About me</h1>
	<span>I'm Patrick, from  </span>
	<span style="color: red; font-size: 40px">China</span>
	<br>
	<br>
</body>

	{{> footer}}
<!--footer>
	<p>Copyright {{year}}</p>
</footer -->
</html>