<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
</head>

	{{> header}}

<body>
	<br>
	<img src="{{getDeck}}" width="333" height="400">
	<p>sometimes you need to refresh the page to let the image to show</p>
</body>

	{{> footer}}
<!--footer>
	<p>Copyright {{year}}</p>
</footer -->
</html>