<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
</head>

	{{> header}}

<body>
	<br>
	 keyword: <input type="text" name="FirstName">
	<form action="http://localhost:8080/weather">
    	<input type="submit" value="Search for NASA Images">
	</form>
	<br>
	number: <input type="text" name="FirstName">
	<form action="http://localhost:8080/deck">
    	<input type="submit" value="Search for a Deck">
	</form>
	<br>
	<form action="http://localhost:8080/info">
    	<input type="submit" value="Info Page">
	</form>

</body>

	{{> footer}}
<!--footer>
	<p>Copyright {{year}}</p>
</footer -->
</html>