<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
</head>

	{{> header}}

<body>
	<br>
	<form action="http://localhost:8080/weather">
    	<input type="submit" value="Weather Page">
	</form>
	<br>
	<form action="http://localhost:8080/info">
    	<input type="submit" value="Info Page">
	</form>
</body>

	{{> footer}}
<!--footer>
	<p>Copyright {{year}}</p>
</footer -->
</html>